# HTTP server
PORT=3000

# Postgres URL
DB_URL=postgres://USERNAME:PASSWORD@localhost:5432/DB_NAME

# Clé google
GOOGLE_API_KEY=xxxxxxxxxxxxxxxx
GOOGLE_BASE_URL=https://www.googleapis.com/books/v1

# Identifiant Gmail Blablabook
EMAIL_USER=
EMAIL_PASS=

# Clé secrète pour JWT
JWT_SECRET=**********
